.content-card {
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

/* ion-textarea.message {
  --background: var(--ion-color-medium);
  --border-radius: 20px 20px 20px 20px;  
} */

.message {
  /* border: solid 2px black; */
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 0 1em black;
}

.title-header {
  color: teal;
  font-weight: bold;
  font-size: 36px;
}

ion-textarea.phrase {
  font-size: 24px;
  font-weight: bold;
}