.content {
  height: 90vh;
  /* width: 80vw; */

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 100px;
}

.content span {
  order: 0;

  font-weight: bold;
  font-size: 48px;
  color: teal;
}

.content .buttons {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  text-align: center;
}
