.content {
  height: 90vh;
  /* width: 80vw; */

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 100px;
}

.content span {
  order: 0;

  font-family: 'Bungee Inline';
  font-size: 40px;
  color: var(--ion-color-success-shade);
}

.content .buttons {
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  text-align: center;
}

ion-modal#example-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal#example-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}
